@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* h1{
        @apply text-7xl text-white
    } */

    body{
        @apply bg-skin-main text-skin-primary
    }

    .tailwind_1-5_grid{
        grid-template-columns: 1fr 5fr;
    }
}


@layer base {
    :root {
      --background-gradient: rgb(14, 2, 12);
      --color-gradient-1: rgba(14, 2, 12, 1) 40%;
      --color-gradient-2: rgba(64, 12, 56, 1) 64%;
      --color-gradient-3: rgba(76, 25, 69, 1) 83%;
      --color-gradient-4: rgba(129, 45, 117, 1) 100%;
      --bg-color-body: theme(colors.main-black.main);
      --bg-color-secondary: theme(colors.secondary-white.100);
      ----bg-home-cards: theme(colors.main-black.400);
      --color-text-primary: theme(colors.secondary-white.100);
      --color-text-muted: theme(colors.main-black.400);
      --color-text-secondary: theme(colors.main-black.main);
      /*Main gradient*/
      
          
      --main-gradient-1: rgba(0, 0, 0, 1);
      --main-gradient-2: rgba(0, 0, 0, 0.9) ;
      --main-gradient-3: rgba(0, 0, 0, 0.8) ;
      --main-gradient-4: rgba(0, 0, 0, 0.7) ;
    }
    .theme-white {
        --background-gradient: rgb(14, 2, 12);
        --color-gradient-1: rgba(14, 2, 12, 1) 40%;
        --color-gradient-2: rgba(64, 12, 56, 1) 64%;
        --color-gradient-3: rgba(76, 25, 69, 1) 83%;
        --color-gradient-4: rgba(129, 45, 117, 1) 100%;
        --bg-color-body: theme(colors.secondary-white.main);
        --bg-color-secondary: theme(colors.main-black.main);        
      --color-text-primary: theme(colors.main-black.main);
        --color-text-muted: theme(colors.main-black.950);
        --color-text-secondary: theme(colors.secondary-white.main);

              /*Main gradient*/
      
    --main-gradient-1: rgba(255, 255, 255, 1) ;
    --main-gradient-2: rgba(255, 255, 255, 0.5) ;
    --main-gradient-3: rgba(255, 255, 255, 0.4) ;
    --main-gradient-4: rgba(255, 255, 255, 1) ;
    }
  
    .theme-dark {
        --background-gradient: rgb(14, 2, 12);
        --color-gradient-1: rgba(14, 2, 12, 1) 40%;
        --color-gradient-2: rgba(64, 12, 56, 1) 64%;
        --color-gradient-3: rgba(76, 25, 69, 1) 83%;
        --color-gradient-4: rgba(129, 45, 117, 1) 100%;
        --bg-color-body: theme(colors.main-black.main);
        --bg-color-secondary: theme(colors.secondary-white.100);        
      --color-text-primary: theme(colors.secondary-white.100);
        --color-text-muted: theme(colors.main-black.400);
        --color-text-secondary: theme(colors.main-black.main);

              /*Main gradient*/
      
    --main-gradient-1: rgba(0, 0, 0, 1);
    --main-gradient-2: rgba(0, 0, 0, 0.9) ;
    --main-gradient-3: rgba(0, 0, 0, 0.8) ;
    --main-gradient-4: rgba(0, 0, 0, 1) ;
    }
  

  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page-bg {
    background: rgb(0,0,0);
    background-image: linear-gradient(20deg, var(--main-gradient-1) 30%, var(--main-gradient-2)60%, var(--main-gradient-3)80%, var(--main-gradient-4) 100%), url('/chico_estadio.jpg');

    background-size: cover;
    background-position: center;
    background-position-y: top;
}

.main-second-section-bg {
    background: rgb(0,0,0);
    background-image: linear-gradient(20deg, var(--main-gradient-1) 10%, var(--main-gradient-2)20%, var(--main-gradient-3) 60%, var(--main-gradient-4) 100%), url('/harry_Styles.jpeg');
    background-size: cover;
    background-position-y: center;
}




/*Responsive main screen*/

@media (min-width: 1100px) {
    .main-page-bg {
        background: var(--main-gradient-1);
        background-image: linear-gradient(90deg, var(--main-gradient-1) 40%, var(--main-gradient-2)  60%, var(--main-gradient-3)  80%, var(--main-gradient-4)  100%), url('/chico_estadio.jpg');
    
        background-size: cover;
        background-position: center;
        background-position-y: top;
    }
    
    .main-second-section-bg {
        background:  var(--main-gradient-1);
        background-image: linear-gradient(-90deg, var(--main-gradient-1) 30%, var(--main-gradient-2) 60%, var(--main-gradient-3) 80%, var(--main-gradient-4)100%), url('/harry_Styles.jpeg');
        background-size: cover;
        background-position-y: center;
    }
    
    
}



